PizzeriaMasterpiece.WCFServicesTests/Service References/ProductServiceReference/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4688/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.DTO" />
  <xs:element name="GetProductInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.DTO" minOccurs="0" name="GetProductInformationResult" nillable="true" type="q1:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllProductInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllProductInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.DTO" minOccurs="0" name="ListAllProductInformationResult" nillable="true" type="q2:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>