PizzeriaMasterpiece/Service References/ProductServiceReference/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4688/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4688/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4688/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetProductInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInformation" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_InsertProductInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductInformation" />
  </wsdl:message>
  <wsdl:message name="IProductService_InsertProductInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_UpdateProductInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductInformation" />
  </wsdl:message>
  <wsdl:message name="IProductService_UpdateProductInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ListAllProductInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllProductInformation" />
  </wsdl:message>
  <wsdl:message name="IProductService_ListAllProductInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllProductInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ListAllProductToSellInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllProductToSellInformation" />
  </wsdl:message>
  <wsdl:message name="IProductService_ListAllProductToSellInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllProductToSellInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetProductInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductInformation" message="tns:IProductService_GetProductInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductInformationResponse" message="tns:IProductService_GetProductInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProductInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/InsertProductInformation" message="tns:IProductService_InsertProductInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/InsertProductInformationResponse" message="tns:IProductService_InsertProductInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/UpdateProductInformation" message="tns:IProductService_UpdateProductInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/UpdateProductInformationResponse" message="tns:IProductService_UpdateProductInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAllProductInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/ListAllProductInformation" message="tns:IProductService_ListAllProductInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/ListAllProductInformationResponse" message="tns:IProductService_ListAllProductInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAllProductToSellInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/ListAllProductToSellInformation" message="tns:IProductService_ListAllProductToSellInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/ListAllProductToSellInformationResponse" message="tns:IProductService_ListAllProductToSellInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductInformation">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProductInformation">
      <soap:operation soapAction="http://tempuri.org/IProductService/InsertProductInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductInformation">
      <soap:operation soapAction="http://tempuri.org/IProductService/UpdateProductInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllProductInformation">
      <soap:operation soapAction="http://tempuri.org/IProductService/ListAllProductInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllProductToSellInformation">
      <soap:operation soapAction="http://tempuri.org/IProductService/ListAllProductToSellInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:4688/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>