PizzeriaMasterpiece.WCFServicesTests/Service References/SupplyServiceReference/SupplyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SupplyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4688/SupplyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4688/SupplyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4688/SupplyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISupplyServie_ListAllSupplyInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllSupplyInformation" />
  </wsdl:message>
  <wsdl:message name="ISupplyServie_ListAllSupplyInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllSupplyInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplyServie_UpdateSupplyInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplyInformation" />
  </wsdl:message>
  <wsdl:message name="ISupplyServie_UpdateSupplyInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplyInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="ISupplyServie">
    <wsdl:operation name="ListAllSupplyInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyServie/ListAllSupplyInformation" message="tns:ISupplyServie_ListAllSupplyInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyServie/ListAllSupplyInformationResponse" message="tns:ISupplyServie_ListAllSupplyInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplyInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyServie/UpdateSupplyInformation" message="tns:ISupplyServie_UpdateSupplyInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyServie/UpdateSupplyInformationResponse" message="tns:ISupplyServie_UpdateSupplyInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISupplyServie" type="tns:ISupplyServie">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListAllSupplyInformation">
      <soap:operation soapAction="http://tempuri.org/ISupplyServie/ListAllSupplyInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplyInformation">
      <soap:operation soapAction="http://tempuri.org/ISupplyServie/UpdateSupplyInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupplyService">
    <wsdl:port name="BasicHttpBinding_ISupplyServie" binding="tns:BasicHttpBinding_ISupplyServie">
      <soap:address location="http://localhost:4688/SupplyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>