PizzeriaMasterpiece.WCFServicesTests/Service References/SupplyServiceReference/SupplyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4688/SupplyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.DTO" />
  <xs:element name="ListAllSupplyInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllSupplyInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.DTO" minOccurs="0" name="ListAllSupplyInformationResult" nillable="true" type="q1:ArrayOfSupplyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplyInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.DTO" minOccurs="0" name="supply" nillable="true" type="q2:SupplyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplyInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.DTO" minOccurs="0" name="UpdateSupplyInformationResult" nillable="true" type="q3:SupplyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>