PizzeriaMasterpiece/Service References/ProductoServiceReference/ProductoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4688/ProductoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.Model" />
  <xs:element name="GetProductInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.Model" minOccurs="0" name="GetProductInformationResult" nillable="true" type="q1:ProductoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProductInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.Model" minOccurs="0" name="Producto" nillable="true" type="q2:ProductoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProductInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.Model" minOccurs="0" name="InsertProductInformationResult" nillable="true" type="q3:ProductoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllProductInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllProductInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.Model" minOccurs="0" name="ListAllProductInformationResult" nillable="true" type="q4:ArrayOfProductoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>