PizzeriaMasterpiece/Service References/ProductoServiceReference/ProductoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoProducto_IdTipoProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoDTO" nillable="true" type="tns:ProductoDTO" />
  <xs:complexType name="ArrayOfProductoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoDTO" nillable="true" type="tns:ProductoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoDTO" nillable="true" type="tns:ArrayOfProductoDTO" />
</xs:schema>