PizzeriaMasterpiece/Service References/ProductoServiceReference/ProductoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4688/ProductoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4688/ProductoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4688/ProductoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzeriaMasterpiece.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductoService_GetProductInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInformation" />
  </wsdl:message>
  <wsdl:message name="IProductoService_GetProductInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_InsertProductInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductInformation" />
  </wsdl:message>
  <wsdl:message name="IProductoService_InsertProductInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListAllProductInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllProductInformation" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListAllProductInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllProductInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductoService">
    <wsdl:operation name="GetProductInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/GetProductInformation" message="tns:IProductoService_GetProductInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/GetProductInformationResponse" message="tns:IProductoService_GetProductInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProductInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/InsertProductInformation" message="tns:IProductoService_InsertProductInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/InsertProductInformationResponse" message="tns:IProductoService_InsertProductInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAllProductInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ListAllProductInformation" message="tns:IProductoService_ListAllProductInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ListAllProductInformationResponse" message="tns:IProductoService_ListAllProductInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductoService" type="tns:IProductoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductInformation">
      <soap:operation soapAction="http://tempuri.org/IProductoService/GetProductInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProductInformation">
      <soap:operation soapAction="http://tempuri.org/IProductoService/InsertProductInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllProductInformation">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ListAllProductInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductoService">
    <wsdl:port name="BasicHttpBinding_IProductoService" binding="tns:BasicHttpBinding_IProductoService">
      <soap:address location="http://localhost:4688/ProductoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>